.container{
	width: 25vw;
	height: 100vh;
}
.content{
	height: calc(100vh - 4rem);
	display: flex;
	justify-content: flex-start;
	padding: 2rem;
}

.songSelector{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(161, 161, 161, 0.2);
	height: 100%;
	border-radius: 2rem;
}

.songButton{
	display: flex;
	align-items: center;
	width: 5rem;
	height: 5rem;
	margin: 1rem;
	border-radius: 1000px;
	justify-content: space-between;
	border: none;
	padding: 0;
	transition: 0.5s;
	background-color: rgba(0, 0, 0, 0.3);
}

.songImage{
	background-color: #952828;
	width: 5rem;
	height: 5rem;
	border-radius: 1000px;
}

.songTitle{
	height: 100%;
	width: calc(100% - 7rem);
	display: flex;
	align-items: center;
	color: #a1a1a1;
	font-size: 20px;
	opacity: 0;
	justify-content: flex-start;
}

.songButton:hover{
	width: 20rem;
	align-items: flex-start;
}

.songButton:hover .songTitle{
	animation-name: titleAnimation;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes titleAnimation {
	0% {opacity: 0}
	50% {opacity: 0}
	65%{opacity: 1}
	100%{opacity: 1}
}
