
#image{
	width: 55rem;
	height: 55rem;
	border-radius: 100rem;
	border: 3px solid #a1a1a1;
}
.imageBox{
	height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.highlightedTimeSlider{
	display: flex;
	width: 80%;
	height: 2rem;
}
.highlightedTime{
	position: relative;
	width: 50px;
	margin: 0 0.5rem;
	color: #a1a1a1;
	font-size: 1.4rem;
	font-weight: bold;
	transition: 0s;
}
.content{
	font-size: 10px;
	display: flex;
	width: 50vw;
	height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.controls{
	display: flex;
	width: 55rem;
	flex-direction: column;
	align-items: center;
}
.progressDivs{
	width: 55rem;
	height: 2.5rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.time{
	margin: 0 0.5rem;
	color: #a1a1a1;
	font-size: 1.4rem;
	font-weight: bold;
	transition: 0.2s;
}
.progressbar{
	width:80%;
	height: 1.5rem;
	background-color: rgba(76, 75, 75, 0.35);
	border-radius: 5rem;
}
.progressHighlighted{
	position: relative;
	top: -15px;
	background-color: rgba(161, 161, 161, 1);
	height: 1.5rem;
	border-radius: 5rem;
	transition: 0.05s;

}
.progress{
	height: 1.5rem;
	background-color: rgba(161, 161, 161, 0.7);
	border-radius: 5rem;
	transition: 0.05s;
}
.progressHighlight{
	width: 50%;
	background-color: aqua;


}
.controlBox{
	width: 55rem;
	height: 5rem;
	padding: 1.5rem;
	display: flex;
	gap: 2.5rem;
	justify-content: space-between;

}

.playButton{
	width: 20%;
	height: 100%;
	border: none;
	transition: 0.2s;
	background-size: contain;
	background: transparent url('../../assets/play.svg') no-repeat center;

	&:hover{
		filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.7));
		transform: scale(1.1);
	}

	&:active{
		filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.7));
		transform: scale(0.97);
	}
}
.filler{
	width: 30%;
	height: 100%;
	display: flex;
	align-items: center;

}
.play{
	background-image: url("../../assets/play.svg");
}
.volumeControl{
	-webkit-appearance: none;
	height: 10px;
	width: 70%;
	background-color: rgba(76, 75, 75, 0.35);
	border-radius: 10px;
	outline: none;

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		width: 20px;
		height: 10px;
		border-radius: 10px;
		background-color: rgba(255, 255, 255, 0.5);
		cursor: pointer;
		transform-origin: center center;
		transition: transform 0.2s;

	}

	&::-webkit-slider-thumb:hover {
		height: 15px;

	}
}
.volumeImage{
	width:20%;
	height: 40%;
}
.pause{
	background-image: url("../../assets/pause.svg");
}

.AudioVisualizerBlack{
	display: flex;
	align-items: flex-start;
	position: absolute;
	width: 20rem;
	height: 3px;
	z-index: -1;
}

.magBar{
	background-color: rgba(161, 161, 161, 0.7);
	height: 5px;
	border-radius: 100rem;
}

@media (max-height: 800px) {
	#image{
		width: 40rem;
		height: 40rem;
	}
}

@media (max-height: 600px) {
	#image{
		width: 35rem;
		height: 35rem;
	}
}

@media (max-height: 520px) {
	#image{
		width: 30rem;
		height: 30rem;
	}
}

@media (max-width: 600px) {
	#image{
		width: 35rem;
		height: 35rem;
	}
	.controlBox{
		width: 40rem;
	}

	.progressDivs{
		width: 40rem;
	}
}

@media (max-width:450px) {
	#image{
		width: 30rem;
		height: 30rem;
	}
	.controlBox{
		width: 35rem;
	}

	.progressDivs{
		width: 40rem;
	}
}
